table {
    margin: 20px 0;
    border: 1px solid #CCC;
    width: 80%;
}

table th, table td {
    border:1px solid #CCC;
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: center;
}

.delete {
    background-color: #FF0000;
    border: none;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
}

p {
    margin: 40px 0;
}